@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 style="font-size: 50px;text-align: center">University Course Management System</h1>
</div>
<div class="jumbotron">
    <ul>
        <li>Sanak Sorkar</li>
        <li>Shemanto Choudhury Roy</li>
        <li>Mohammad Riham Hossain</li>
    </ul>
    <h2 style="font-size: 30px; text-align: center">Developed by DOT CODER</h2>
</div>
    
    


